======= carregamento-e-limpeza-dataset
GoodReads_100k_books.csv filter=lfs diff=lfs merge=lfs -text
GoodReads_books_limpo.csv filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
oodReads_books_limpo.csv filter=lfs diff=lfs merge=lfs -text
=======
*.csv filter=lfs diff=lfs merge=lfs -text
======= main
